.footer {
	background: $c-primaryLight;
	padding-top: 100px;
	color: black;
	margin-top: 0;
	padding-bottom: 50px;
	@include breakpoint($bp-small) {
		padding-bottom: $s-padding*2;
	}
	.medium-width-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

	}
	&--copyright {
		max-width: 500px;
		margin: 0 auto;
		padding-bottom: 10px;
		font-size: $fs-small;
		a,
		a:link,
		a:visited {
			&:hover,
			&:active,
			&:focus {
				color: $c-darkText;
				text-decoration-color: $c-secondary;
			}
		}
	}

}